/*@font-face {
  font-family: 'wf_SegoeUILight';
  src: url('font/1/latest.eot');
  src: url('font/1/latest.eot?#iefix') format('embedded-opentype'),url('font/1/latest.woff') format('woff'),url('font/1/latest.ttf') format('truetype'),url('font/1/latest.svg#web') format('svg');
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family: 'wf_SegoeUI';
  src: url('font/2/latest.eot');
  src: url('font/2/latest.eot?#iefix') format('embedded-opentype'), url('font/2/latest.woff') format('woff'),url('font/2/latest.ttf') format('truetype'),url('font/2/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'MSHPIconsRegular';
  src: url('font/3/latest.eot');
  src: url('font/3/latest.eot?#iefix') format('embedded-opentype'),url('font/3/latest.woff') format('woff'),url('font/3/latest.ttf') format('truetype'),url('font/3/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal
}*/